<form [formGroup]="registerForm">
  <div formArrayName="categories">
    <table>
      <tr>
        <th>Category Name</th>
        <th>Items</th>
      </tr>
      <!-- Outer FormArray (Categories) -->
      <div *ngFor="let category of categoriesArray.controls; let i = index" [formGroupName]="i">
        <tr>
          <td>
            <!-- Category Name -->
            <input formControlName="categoryName" placeholder="Category Name"><br>
            <button (click)="editCategory(i)">Edit Category</button><br>
            <button (click)="removeCategory(i)">Remove Category</button>
            <!-- Add Item Button -->
            <button (click)="addItem(i)">Add Item</button><br>
          </td>
          <td>
            <!-- Inner FormArray (Items) -->
            <div formArrayName="items">
              <div *ngFor="let item of getItemsArray(i).controls; let j = index" [formGroupName]="j">

                <!-- Item Name -->
                <input formControlName="itemName" placeholder="Item Name"><br>
                <input formControlName="itemCode" placeholder="Item Code"><br>

                <!-- Remove Item Button -->
                <button (click)="removeItem(i, j)">Remove Item</button><br>
                <button (click)="viewItem(i, j)">View Item</button><br>
                <button (click)="editItem(i, j)">Edit Item</button><br>
              </div>
            </div>
          </td>
        </tr>
      </div>
    </table>
  </div>

  <!-- Add Category Button -->
  <button (click)="addCategory()">Add Category</button><br>
  <button (click)="categoriesView()">view data</button>
</form>